{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body>
    <div class="dark:bg-boxdark-2 dark:text-bodydark">
        <!-- Page Wrapper Start -->
        <div class="flex">

        <!-- Sidebar (if needed) -->
        <!-- {% include 'sidebar.html' %} -->

        <!-- Content Area Start -->
        <div class="relative flex flex-1 flex-col">

            <!-- Header -->
            {% include 'header.html' %}

            <!-- Main Content -->
            <main class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
                <div class="h-screen">
                    {% block content %}{% endblock %}
                </div>
            </main>

            <!-- Footer -->
            {% include 'footer.html' %}
        </div>
    </div>
    </div>
</body>
</html>

<script>
    async function fetchUser() {
      let token = localStorage.getItem('access_token');
      if (!token) {
          alert("You must log in first!");
          window.location.href = window.location.origin + "/login";
          return;
      }

      let response = await fetch('/api/user/', {
          method: 'GET',
          headers: { 'Authorization': `Bearer ${token}` }
      });

      if (response.status === 401) {
          let refreshed = await refreshToken();
          if (refreshed) {
              fetchProducts(); // Retry fetching products
          } else {
              alert("Session expired, logging out...");
              logoutUser();
          }
          return;
      }

      let data = await response.json();
  }
</script>
